button {
  border: none;
  background-color: transparent;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftButton {
  margin-right: 10px;
}

.rightButton {
  margin-left: 10px;
}
